body{
	text-align: center;
}

#game-board{
	display: grid;
	grid-gap: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: center;
	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(10, 30px);
}

.grid-item{
	border: 2px dashed grey;
	background-size: contain;
}